@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.resetpassword {
  position: relative;
  background-color: $bg-gray;
  margin: 4rem 0;
  padding: 2rem;
  transition: 0.3s all;
  &:hover {
    background-color: #ffffff;
    box-shadow: 0 0 15px #ddd;
  }
  .bar {
    @include barStyles($bg-secondary);
  }
  &__content {
    @include flexColumnCenter;

    &__title {
      font-size: 0.8rem;
      font-weight: 400;
      color: $text-tertiary;
      text-align: center;
    }
    .info {
      color: $text-lightest;
      text-align: center;
      p {
        @include descText;
      }
    }
    .saperator {
      @include seperator($bg-gray);
    }
    .icon {
      @include flexCenter;
      font-size: 4rem;
      border-radius: 100%;
      border: 1px solid rgb(208, 208, 204);
      background-color: $bg-light;
      color: $bg-secondary;
      position: absolute;
      width: 5rem;
      height: 5rem;
      top: -35px;
      svg {
        margin: 0;
        padding: 0;
      }
    }
    .captcha-part {
      display: flex;
      margin-top: 1rem;
      gap: 4rem;
      width: 100%;
      a {
        color: $text-tertiary;
        font-weight: 500;
      }
      .captcha,
      .confirm {
        width: 100%;
      }
    }
    .submit {
      @include flexCenter;
      margin-top: 2rem;
      gap: 2rem;
      button {
        min-width: 200px;
        padding: 0.7rem 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .resetpassword {
    &__content {
      form {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .resetpassword {
    .bar {
      left: 0;
    }
    &__content {
      .captcha-part {
        margin-top: 1rem;
        gap: 1rem;
        flex-direction: column;
      }
      .submit {
        flex-direction: column;
      }
    }
  }
}
