@use '../../styles/colors' as *;
.servererror {
  position: relative;
  background-color: $bg-gray;
  margin: 4rem 0;
  padding: 2rem;
  transition: 0.3s all;
  &:hover {
    background-color: #ffffff;
    box-shadow: 0 0 15px #ddd;
  }
  .bar {
    content: '';
    position: absolute;
    width: 64px;
    height: 5px;
    background-color: $bg-secondary;
    top: 0px;
    left: 30px;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      font-size: 0.8rem;
      font-weight: 300;
      color: $text-tertiary;
      text-align: center;
    }
    .info {
      color: $text-lightest;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        line-height: 2;
        font-family: 'Poppins', 'Helvetica Neue';
        font-weight: 400;
      }
      li a {
        color: $text-tertiary;
        text-decoration: none;
        font-weight: 500;
      }
      p {
        font-size: 19px;
        line-height: 2;
        font-weight: bold;
        font-family: 'Poppins', 'Roboto', sans-serif;
      }
    }
    .saperator {
      width: 100%;
      height: 1px;
      background-color: $bg-gray;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      margin: 1.5rem 0;
    }
    .icon {
      font-size: 5rem;
      border-radius: 100%;
      border: 1px solid rgb(208, 208, 204);
      background-color: $bg-light;
      color: $bg-secondary;
      position: absolute;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      text-align: center;
      top: -35px;
      svg {
        margin: 0;
        padding: 0;
      }
    }

    .action {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      gap: 2rem;
      button {
        min-width: 200px;
        padding: 0.7rem 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .inprocess {
    padding: 3rem 0;
    .bar {
      left: 0;
    }
    &__content {
      .info {
        ul li,
        p {
          line-height: 1.3;
        }
        p {
          margin-top: 1rem;
        }
      }
    }
  }
}
