@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.login {
  position: relative;
  background-color: $bg-gray;
  margin: 4rem 0;
  padding: 2rem;
  transition: 0.3s all;
  &:hover {
    background-color: #ffffff;
    box-shadow: 0 0 15px #ddd;
  }
  .bar {
    @include barStyles($bg-secondary);
  }
  &__content {
    @include flexColumnCenter;

    &__title {
      @include pageTitle($text-lightest);
    }
    .saperator {
      @include seperator($bg-gray);
    }
    .icon {
      @include flexCenter;
      font-size: 4rem;
      border-radius: 100%;
      border: 1px solid rgb(208, 208, 204);
      background-color: $bg-light;
      color: $bg-secondary;
      position: absolute;
      width: 4.5rem;
      height: 4.5rem;
      top: -30px;
      svg {
        margin: 0;
        padding: 0;
      }
    }
    .captcha-part {
      display: flex;
      gap: 4rem;
      a {
        color: $text-tertiary;
        font-weight: 500;
      }
      .captcha {
        @include flexColumnSpace;
        a {
          margin-left: 2rem;
        }
      }
      .confirm {
        display: flex;
        align-items: flex-end;
        .link {
          text-align: right;
        }
        a {
          margin-right: 2rem;
        }
      }
    }
    form {
      .input-group .input-box input:focus-within {
        //
        outline: none;
        break-before: 0;
      }
      .input-box:focus-within {
        outline: 1px solid #116cab;
        break-before: 0;
      }
    }
    .submit {
      text-align: center;
      margin-top: 2rem;
      button {
        min-width: 200px;
        padding: 0.7rem 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .login {
    &__content {
      form {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .login {
    &__content {
      .captcha-part {
        margin-top: 1rem;
        gap: 1rem;
        flex-direction: column;
      }
    }
  }
  .login__content .captcha-part {
    .captcha a {
      margin-left: 0;
    }
    .confirm .link {
      text-align: left;
    }
  }
}
