@use "../../styles/colors" as *;
.dropdown-container {
  label {
    // visibility: hidden;
    font-size: clamp(1rem, 2vw + 0.44rem, 1.3rem);
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: $text-lightest;
  }
  margin: 0.6rem 0;
  padding: 0.3rem 0;
}
.dropdown {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  border: 1px solid $light-gray;
  position: relative;
  margin: 0.6rem 0;

  .dropdown-header {
    padding-left: 0.8rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .caret {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #91a5be;
      padding: 0.9rem 0.6rem;
      border-left: 1px solid $light-gray;
      background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));

      &:hover {
        border-color: #7096ab;
        box-shadow: 0 0 8px #85b2cb, inset 0 1px 0 $text-light;
        background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
      }
      svg {
        color: #7096ab;
      }
    }
  }

  .dropdown-body {
    position: absolute;
    background-color: $bg-light;
    width: 100%;
    z-index: 233;
    border-top: 1px solid #e5e8ec;
    display: none;
    box-shadow: 0 5px 10px rgb(0 0 0 / 80%);
    .item-container {
      overflow: auto;
      max-height: 235px;
    }
  }

  .dropdown-body.open {
    display: block;
  }

  .dropdown-item {
    padding: 7px 0;
    border: 0.5px solid #000;
    &:nth-child(odd) {
      border-bottom: none;
    }
    &:nth-child(even) {
      border-bottom: none;
    }
  }

  .dropdown-item:hover {
    cursor: pointer;
  }

  .dropdown-item-dot {
    opacity: 0;
    color: #91a5be;
    transition: all 0.2s ease-in-out;
  }

  .dropdown-item-dot.selected {
    opacity: 1;
  }

  .icon {
    font-size: 13px;
    color: #91a5be;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
  }

  .icon.open {
    transform: rotate(90deg);
  }
}
