.slot_container {
  width: 100%;
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.55rem;
  .slot_body {
    margin: 1rem 0;
    border-radius: 0.25em;
  }
  .slot_body_header {
    text-align: center;
    margin-bottom: 1.3rem;
    .title {
      font-size: 26px;
      margin-bottom: 5px;
    }
  }
  .slot_body_content {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25em;
    width: 100%;
  }
  .counters-container {
    display: flex;
  }
  .selected {
    .item {
      border-color: #8c12d4 !important;
    }
    svg {
      color: #8c12d4 !important;
    }
  }
  .slot_body_content_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #ffffff;
    border-left: none;
    border-right: none;
    &:nth-child(even) {
      background-color: #f8f9fa;
    }
    .item {
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding: 12px;
      border-radius: 0.25em;
      cursor: pointer;

      svg {
        font-size: 2rem;
      }
      .available {
        color: #28a745;
        border-color: #28a745;
      }
      .unavailable {
        color: #dc3545;
        border-color: #dc3545;
        cursor: not-allowed;
      }
    }
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}
