@use "../../../styles/colors" as *;
.btn {
  margin: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 6px 24px;
  line-height: 24px;
  min-width: 80px;
  word-break: keep-all;
  color: $text-light;
  min-height: 24px;
  border: none;
  background-image: none;
  text-transform: capitalize;
  transition: 0.3s all;
  svg {
    margin-left: 5px;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
.btn-primary {
  @extend .btn;
  background-color: $bg_primary;
  &:disabled {
  }
  &:hover,
  &:active {
    text-decoration: none;
    box-shadow: rgb(16 172 132 / 57%) 0px 9px 20px -5px;
    color: #fff;
  }
}
.btn-secondary {
  @extend .btn;
  background-color: $bg_secondary;
  &:disabled {
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    box-shadow: rgb(16 100 172 / 57%) 0px 9px 20px -5px;
    color: #fff;
  }
}
.btn-danger {
  @extend .btn-secondary;
  background-color: $bg_danger;
}

.btn-pill {
}
