// backgrounds
$bg-primary: rgb(16, 172, 132);
$bg-secondary: #116cab;
$bg-light: #ffffff;
$bg-gray: #f7f7f7;
$bg-danger: #d9534f;
$light-gray: #a8a8a8;
//text
$text-primary: #666666;
$text-secondary: rgb(16, 172, 132);
$text-tertiary: #116cab;
$text-lighter: #ddd;
$heading-color: rgb(15, 33, 55);
$heading-primary: #000;
$text-light: #ffffff;
$text-lightest: rgba(52, 61, 72, 0.8);
