@mixin flexSpace {
  display: flex;
  justify-content: space-between;
}
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flexColumnSpaceCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin image {
  width: 100%;
  height: auto;
  display: block;
}
@mixin seperator($bg) {
  width: 100%;
  height: 1px;
  background-color: $bg;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 1.5rem 0;
}
@mixin backgroundImage(
  $image,
  $position: center,
  $repeat: no-repeat,
  $size: 100% 100%
) {
  background-image: url($image);
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}
@mixin barStyles($color) {
  content: "";
  position: absolute;
  width: 64px;
  height: 5px;
  background-color: $color;
  top: 0px;
  left: 30px;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

// text
@mixin fontStack {
  font-family: "Poppins", "Roboto", sans-serif;
}
@mixin pageTitle($color) {
  font-size: 0.8rem;
  font-weight: 300;
  color: $color;
  text-align: center;
}
@mixin descText {
  font-size: 19px;
  line-height: 1;
  font-weight: 300;
  font-family: "Poppins", "Roboto", sans-serif;
}
